@font-face {
  font-family: 'Kaushan Script';
  src: url('./fonts/kaushan-script-regular.woff2') format('woff2'),
       url('./fonts/kaushan-script-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/open-sans-regular.woff2') format('woff2'),
       url('./fonts/open-sans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/open-sans-600.woff2') format('woff2'),
       url('./fonts/open-sans-600.woff') format('woff');
  font-weight: 600;
  font-style: bold;
  font-display: swap;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.app {
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
}

/* ----------SEARCH SIDE------------ */

.search-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100vh;

  background-color: #000;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);

  z-index: 1;
}

.current-city-container {
  display: flex;
  align-items: center;
  height: 40vh;

  font-family: 'Kaushan Script', cursive;
  font-size: 70px;
  font-weight: bold;
  color: #fff;
}

.city-name {
  text-transform: capitalize;
}

.form-container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-top: 15px;
  
  border-top: 3px solid #fffafa;
}

.search-input {
  width: 250px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;

  font-size: 16px;

  border: 2px solid #fffafa;
  border-radius: 2px;
}

.error-container {
  width: 100%;
  
  font-size: 14px;
  font-weight: bold;
  color: red;

  text-align: center;
}

.submit-btn {
  width: 100px;
  padding: 5px;
  
  font-size: 16px;
  
  background-color: #fff;

  border: 2px solid #fffafa;
  border-radius: 2px;

  cursor: pointer;
}

.submit-btn:hover {
  font-weight: bold;
  color: #fff;
  text-decoration: underline;

  background-color: #000;
}

.submit-btn:focus {
  font-weight: bold;
  color: #fff;
  text-decoration: underline;

  background-color: #000;
}

.submit-btn:disabled {
  color: gray;

  background-color: #fff;
}

.city-found-container {
  position: absolute;
  top: 55px;
}

.city-found-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.city-found-item {
  padding: 2px;

  color: gray;
}

.city-item:hover {
  border-color:#fff;
}

.city-found-link {
  font-size: 16px;
  color: #fffafa;

  background-color: transparent;

  border: 1px solid #000;

  cursor: pointer;
}

.city-found-link:hover {
  color: gray;

  border-left-color:#fff;
  border-right-color:#fff;
}

/* ----------RESULT SIDE------------ */

.result-side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;

  background-color: #fffafa;
}

.weather-card {
  display: flex;
  flex-direction: column;
  width: 450px;

  border: 3px solid #000;
  border-radius: 10px;

  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.weather-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;

  background-color: #000;

  border-bottom: 2px solid #000;
}

.weather-card-city-name {
  width: 50%;
}

.city-title {
  margin: 0;
  padding: 0;

  font-size: 36px;
  color: #fff;
  text-transform: capitalize;
}

.country-title {
  margin: 0;
  margin-top: 3px;
  padding: 0;

  font-size: 14px;
  color: #fff;
}

.city-weather-description {
  margin-top: 5px;

  font-size: 20px;
  color: #fff;
}

.weather-img {
  width: 50%;
}

.weather-icon {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
}

.weather-icon:hover {
  transform: scale(1.2);
}

.weather-card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 15px;

  border-bottom: 2px solid #000;
}

.temperature {
  width: 50%;
  
  font-size: 66px;
  font-weight: bold;

  text-align: center;
}

.details {
  width: 50%;
}

.details-caption {
  padding-bottom: 5px;
  margin-bottom: 10px;

  font-weight: bold;

  border-bottom: 1px solid #000;
}

.details-table {
  width: 100%;

  font-size: 18px;
}

.details-item-name {
  width: 50%;
}

.details-item-indication {
  width: 50%;

  font-weight: bold;
}

.weather-card-footer {
  padding: 5px 15px;
  margin-left: auto;

  color: #fff;

  background-color: #000;
}

.app-info {
  padding: 35px;

  font-family: 'Kaushan Script', cursive;
  font-size: 65px;
  font-weight: bold;
  
  border: 3px solid #000;
  border-radius: 50px;
  
  transform: rotate(-5deg);
}

.app-info:hover {
  transform: scale(1.5);
}
